extends layoutAttributes

block content
  div.container
    div.content
      h3= title
      div.text-center
        form.form-horizontal(method="post", action='/attributes/add')
          div.input-group
            span.input-group-addon.glyphicon.glyphicon-tags
            input#inputSkillTitle(type="text" class="form-control" placeholder="Skill name" name="skillTitle")
          
          br
          button(class="btn btn-default" type="submit") Add