extends layoutAttributes

block content


  h1.
    Skill List
  div.list-group
    each skill, i in skillsList
      button.list-group-item(type="button") #{skill.skillTitle}
div.foot
    ol.breadcrumb
      li 
        a(href='/') home
      li.active  new
      li 
        a(href='/newskill') Add more skills
      li 
        a(href='/skills') List skills