extends layoutAttributes

block content

  div.container
    div.content
      h3= title
      div.list-group
        table
          tbody
            each skill, i in skillsList
              // TODO fix this table
              if (i%8==0) 
                tr
              td
                button.list-group-item(type="button") #{skill.skillTitle}
div.foot
