extends layout

block content
    

  div.top
    h1= signum 

  div.container
    div.content
      div.text-center
        form.form-horizontal(method="post", id="selectedWords", action='/profileReady')
          div.btn-group(data-toggle="buttons")
            label.btn.btn-primary
              input(type="checkbox", name="username" autocomplete="off")
              | hola
            label.btn.btn-primary
              input(type="checkbox", name="username" autocomplete="off")
              | hola
     
 
  div.footer