extends layout

block content
  div.top

  div.container
    div.content
      div.text-center
        form.form-horizontal(method="post", id="loginForm", action='/start')
          label Signum
          input.span3(id="signum", type="text", name="signum", placeholder="Enter your signum")
          input.btn(type="submit", value="Start")
     
 
  div.footer

