extends layout

block content
  div.etop
    ul.nav.nav-tabs
      li.active
        a(href='#') Home
      li
        a(href='/attributes/list') Attributes
      li
        a(href='/profiles/show') Profiles
      li.dropdown.pull-right
        a.dropdown-toggle(href='#' data-toggle="dropdown") #{session.signum}
          b.caret
        ul.dropdown-menu
          li 
            a(href='/logout') Logout



  div.container
    div.content
      div.text-center
        p welcome

     
 
  div.footer

