extends layout

block content
  div.top

  div.container
    div.content
      div.text-center
        form.form-horizontal(method="post", id="loginForm", action='/myview')
          div.input-group
            input.span3(type="text" class="form-control" placeholder="Enter your signum" name="signum")
            span.input-group-btn
              button(class="btn btn-default" type="submit") Go

     
 
  div.footer

