doctype html
html
  head
    title= "Johari Window"
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='http://mbostock.github.com/d3/d3.js')
    //script(src='http://code.jquery.com/jquery-1.8.1.min.js')
    
    script(src='/bootstrap/js/bootstrap.min.js')

  body
    div.etop
      ul.nav.nav-tabs
        li
          a(href='/') Home
        li
          a(href='/attributes/list') Attributes
        li.active
          a(href='#') Profiles
        li.dropdown.pull-right
          a.dropdown-toggle(href='#' data-toggle="dropdown") #{session.signum}
            b.caret
          ul.dropdown-menu
            li 
              a(href='/logout') Logout


block content
