doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='http://mbostock.github.com/d3/d3.js')
    //script(src='http://code.jquery.com/jquery-1.8.1.min.js')
    
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    div.etop
      ul.nav.nav-tabs
        li
          a(href='/') Home
        -if(session.signum=="ecapati"){
        li.dropdown.active
          a.dropdown-toggle(href='#' data-toggle="dropdown") Attributes
            b.caret
          ul.dropdown-menu
            li 
              a(href='/attributes/add') Add
            li.divider(role="separator")
            li 
              a(href='/attributes/list') Show
        -}
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle="dropdown") Profiles
            b.caret
          ul.dropdown-menu
            li 
              a(href='/profiles/add') Add
            li.divider(role="separator")
            li 
              a(href='/profiles/show') Show
            li.divider(role="separator")
            li 
              a(href='/profiles/share') Share

        li.dropdown.pull-right
          a.dropdown-toggle(href='#' data-toggle="dropdown") #{session.signum}
            b.caret
          ul.dropdown-menu
            li 
              a(href='/logout') Logout

      block content