extends layout

block content
    h1= title
    div.container
    div.content
      div.text-center
        form.form-horizontal(method="post", action='/skills')
          div.input-group
            span.input-group-addon.glyphicon.glyphicon-tags
            input#inputSkillTitle(type="text" class="form-control" placeholder="Skill name" name="skillTitle")
          div.input-group
            span.input-group-addon.glyphicon.glyphicon-cog
            label(for="skillType") 
            select.form-control(id="skillType" name="skillType")
                option positive
                option negative 
          
          br
          button(class="btn btn-default" type="submit") Add